<a href="https://colab.research.google.com/github/KAYALAIMMANUELRAJU/PySpark1/blob/main/(1)FirstProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linux Basic

In [ ]:
print("My name is IMMANUEL")

My name is IMMANUEL

In [ ]:
!pwd

/content

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux ad781dd04101 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

In [ ]:
!whoami

root

In [ ]:
!python --version

Python 3.11.13

## PySpark Basics of DataFrame

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.27
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# Create DataFrame
data = [("Hello", "World")]
columns = ["Word1", "Word2"]
df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

## Basic Transformation and Actions

In [ ]:
columns =["Name", "Department", "Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob","IT",4500)
]
df = spark.createDataFrame(data, columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Filter: Employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# GroupBy and Aggregate: Avarage salary by department
df_grouped =df.groupBy("Department").avg("Salary")
df_grouped.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Add a new column: Salary with bonus (10%)
from pyspark.sql.functions import col
exp =col("Salary") * 1.1
df_bonus = df.withColumn("Salary_10%_Bonus", exp)
df_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper,lower, concat_ws,length,when
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Change Case Tranformation
df_upper= df.withColumn("Name_Upper", upper(col("Name")))
df_lower= df.withColumn("Name_Lower", lower(col("Name")))
df_concat = df.withColumn("Name_Department", concat_ws(" - ", col("Name"), col("Department")))
df_upper.show()
df_lower.show()
df_concat.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_Upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_Lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

+-----+----------+------+---------------+
| Name|Department|Salary|Name_Department|
+-----+----------+------+---------------+
| John|     Sales|  3000|   John - Sales|
| Jane|   Finance|  4000| Jane - Finance|
| Mike|     Sales|  3500|   Mike - Sales|
|Alice|   Finance|  3800|Alice - Finance|
|  Bob|        IT|  4500|       Bob - IT|
+-----+----------+------+---------------+

In [ ]:
# Concatenate the Columns
df_concat =df.withColumn("Full_Name", concat_ws(" ", col("Name"), col("Department")))
df_concat.show()

+-----+----------+------+-------------+
| Name|Department|Salary|    Full_Name|
+-----+----------+------+-------------+
| John|     Sales|  3000|   John Sales|
| Jane|   Finance|  4000| Jane Finance|
| Mike|     Sales|  3500|   Mike Sales|
|Alice|   Finance|  3800|Alice Finance|
|  Bob|        IT|  4500|       Bob IT|
+-----+----------+------+-------------+

In [ ]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# Conditional Column (Salary Category
df_conditional =df.withColumn("Salary_Category",
                               when(col("Salary") >= 4000, "High")
                               .when(col("Salary") >= 3500, "Medium")
                               .otherwise("Low"))
df_conditional.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Salary_Category|
+-----+----------+------+---------------+
| John|     Sales|  3000|            Low|
| Jane|   Finance|  4000|           High|
| Mike|     Sales|  3500|         Medium|
|Alice|   Finance|  3800|         Medium|
|  Bob|        IT|  4500|           High|
+-----+----------+------+---------------+

In [ ]:
# Rename Column (Salary --> Base_Salary)
df_renamed = df.withColumnRenamed("Salary", "Base_Salary")
df_renamed.show()

+-----+----------+-----------+
| Name|Department|Base_Salary|
+-----+----------+-----------+
| John|     Sales|       3000|
| Jane|   Finance|       4000|
| Mike|     Sales|       3500|
|Alice|   Finance|       3800|
|  Bob|        IT|       4500|
+-----+----------+-----------+

## Advance Transformation and Action in PySpark

In [47]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [48]:
# GroupBy Department and count employees
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [49]:
# GroupBy Department and calculate average salary
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [52]:
# GroupBy Department and calculate multiple Aggregations
from pyspark.sql import functions as functions
df.groupBy("Department").agg(
    functions.avg("Salary").alias("Average_Salary"),
    functions.max("Salary").alias("Max_Salary"),
    functions.min("Salary").alias("Min_Salary")
).show()

+----------+--------------+----------+----------+
|Department|Average_Salary|Max_Salary|Min_Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [55]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department","Location"]
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [54]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [56]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [58]:
# Perform an outer join
outer_joined_df = df.join(dept_df, on="Department", how="outer")
outer_joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [59]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [60]:
# Perform Inner Join
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [61]:
# Perfom Left Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [62]:
# Perfom Right Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [63]:
# Perfom Full Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="full").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

## Case Study Activity

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, date_format, min, max, when, expr, desc

spark = SparkSession.builder.appName("SalesAnalytics").getOrCreate()

# Create DataFrames
sales_data = [
    (1001, 101, 501, '2025-07-10 08:23:00', 3, 25.5),
    (1002, 102, 502, '2025-07-11 09:45:00', 2, 15.0),
    (1003, 103, 503, '2025-07-12 10:15:00', 1, 30.0),
    (1004, 101, 504, '2025-07-13 12:20:00', 5, 25.5),
    (1005, 105, 505, '2025-07-14 14:35:00', 10, 45.0),
    (1006, 102, 506, '2025-07-15 16:00:00', 4, 15.0)
]
sales_df = spark.createDataFrame(sales_data, ["sale_id", "product_id", "customer_id", "sale_date", "quantity", "price"])

product_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living")
]
product_df = spark.createDataFrame(product_data, ["product_id", "product_name", "category"])

customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00")
]
customer_df = spark.createDataFrame(customer_data, ["customer_id", "customer_name", "email", "join_date"])

In [65]:
# 1. Aggregations
# 1.1 Total Revenue Per Product
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       103|         30.0|
|       101|        204.0|
|       102|         90.0|
|       105|        450.0|
+----------+-------------+

In [66]:
# 1.2 Total Quantity Sold Per Customer
sales_df.groupBy("customer_id") \
    .agg(sum("quantity").alias("total_quantity")) \
    .show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        502|             2|
|        501|             3|
|        503|             1|
|        504|             5|
|        506|             4|
|        505|            10|
+-----------+--------------+

In [68]:
# 1.3 Average Revenue Per Customer
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(avg("revenue").alias("avg_revenue")) \
    .show()

+-----------+-----------+
|customer_id|avg_revenue|
+-----------+-----------+
|        502|       30.0|
|        501|       76.5|
|        503|       30.0|
|        504|      127.5|
|        506|       60.0|
|        505|      450.0|
+-----------+-----------+

In [69]:
# 1.4 Monthly Sales Total
sales_df.withColumn("month", date_format("sale_date", "yyyy-MM")) \
    .withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("month") \
    .agg(sum("revenue").alias("monthly_sales")) \
    .show()

+-------+-------------+
|  month|monthly_sales|
+-------+-------------+
|2025-07|        774.0|
+-------+-------------+

In [70]:
# 1.5 Count of Sales Per Category
sales_df.join(product_df, "product_id") \
    .groupBy("category") \
    .agg(count("*").alias("sales_count")) \
    .show()

+-------------+-----------+
|     category|sales_count|
+-------------+-----------+
|  Electronics|          1|
|      Gadgets|          4|
|Home & Living|          1|
+-------------+-----------+

In [72]:
# 1.6 Top 3 Most Expensive Products Sold (By Revenue)
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .orderBy(desc("total_revenue")) \
    .limit(3) \
    .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        450.0|
|       101|        204.0|
|       102|         90.0|
+----------+-------------+

In [73]:
# 2. Joins
# 2.1 Sales with Product Info
sales_df.join(product_df, "product_id").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [74]:
# 2.2 Sales with Customer Info
sales_df.join(customer_df, "customer_id").show()

+-----------+-------+----------+-------------------+--------+-----+-------------+-------------------+-------------------+
|customer_id|sale_id|product_id|          sale_date|quantity|price|customer_name|              email|          join_date|
+-----------+-------+----------+-------------------+--------+-----+-------------+-------------------+-------------------+
|        501|   1001|       101|2025-07-10 08:23:00|       3| 25.5|        Alice|  alice@example.com|2025-05-20 10:10:00|
|        502|   1002|       102|2025-07-11 09:45:00|       2| 15.0|          Bob|    bob@example.com|2025-06-15 14:00:00|
|        503|   1003|       103|2025-07-12 10:15:00|       1| 30.0|      Charlie|charlie@example.com|2025-04-05 09:50:00|
|        504|   1004|       101|2025-07-13 12:20:00|       5| 25.5|        David|  david@example.com|2025-07-01 12:25:00|
|        505|   1005|       105|2025-07-14 14:35:00|      10| 45.0|         Emma|   emma@example.com|2025-07-10 15:30:00|
|        506|   1006|       102|2025-07-15 16:00:00|       4| 15.0|        Frank|  frank@example.com|2025-03-23 17:00:00|
+-----------+-------+----------+-------------------+--------+-----+-------------+-------------------+-------------------+

In [75]:
# 2.3 Inner Join: Sales of Category 'Gadgets'
sales_df.join(product_df, "product_id") \
    .filter(col("category") == "Gadgets") \
    .show()

+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|category|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A| Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A| Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B| Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B| Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+

In [76]:
# 2.4 Left Join: Sales with Products
sales_df.join(product_df, "product_id", "left").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [77]:
# 2.5 Self-Join: Sales of Same Product on Different Dates
sales_df.alias("a").join(sales_df.alias("b"),
    (col("a.product_id") == col("b.product_id")) &
    (col("a.sale_date") < col("b.sale_date"))
).select(
    col("a.sale_id").alias("sale1"),
    col("b.sale_id").alias("sale2"),
    col("a.product_id"),
    col("a.sale_date").alias("date1"),
    col("b.sale_date").alias("date2")
).show()

+-----+-----+----------+-------------------+-------------------+
|sale1|sale2|product_id|              date1|              date2|
+-----+-----+----------+-------------------+-------------------+
| 1001| 1004|       101|2025-07-10 08:23:00|2025-07-13 12:20:00|
| 1002| 1006|       102|2025-07-11 09:45:00|2025-07-15 16:00:00|
+-----+-----+----------+-------------------+-------------------+

In [78]:
# 2.6 Full Outer Join: Sales and Products
sales_df.join(product_df, "product_id", "outer").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       104|   NULL|       NULL|               NULL|    NULL| NULL|    Widget D|  Electronics|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [79]:
# 2.7 Join All Three Tables
sales_df.join(product_df, "product_id") \
    .join(customer_df, "customer_id") \
    .select("sale_id", "sale_date", "quantity", "price", "product_name", "category", "customer_name", "email") \
    .show()

+-------+-------------------+--------+-----+------------+-------------+-------------+-------------------+
|sale_id|          sale_date|quantity|price|product_name|     category|customer_name|              email|
+-------+-------------------+--------+-----+------------+-------------+-------------+-------------------+
|   1002|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|          Bob|    bob@example.com|
|   1001|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|        Alice|  alice@example.com|
|   1003|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|      Charlie|charlie@example.com|
|   1004|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|        David|  david@example.com|
|   1006|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|        Frank|  frank@example.com|
|   1005|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|         Emma|   emma@example.com|
+-------+-------------------+--------+-----+------------+-------------+-------------+-------------------+

In [80]:
# 3. Additional Transformations
# 3.1 Filter Sales Between '2025-07-10' and '2025-07-15'
sales_df.filter((col("sale_date") >= "2025-07-10") & (col("sale_date") <= "2025-07-15")).show()

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
+-------+----------+-----------+-------------------+--------+-----+

In [81]:
# 3.2 Top 5 Customers by Spend
sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(sum("spend").alias("total_spend")) \
    .orderBy(desc("total_spend")) \
    .limit(5) \
    .show()

+-----------+-----------+
|customer_id|total_spend|
+-----------+-----------+
|        505|      450.0|
|        504|      127.5|
|        501|       76.5|
|        506|       60.0|
|        502|       30.0|
+-----------+-----------+

In [82]:
# 3.3 Categorize Customers by Spend
spend_df = sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(sum("spend").alias("total_spend"))

spend_df.withColumn("category", when(col("total_spend") < 100, "Low")
                    .when((col("total_spend") >= 100) & (col("total_spend") <= 300), "Medium")
                    .otherwise("High")) \
    .show()

+-----------+-----------+--------+
|customer_id|total_spend|category|
+-----------+-----------+--------+
|        502|       30.0|     Low|
|        501|       76.5|     Low|
|        503|       30.0|     Low|
|        504|      127.5|  Medium|
|        506|       60.0|     Low|
|        505|      450.0|    High|
+-----------+-----------+--------+

In [83]:
# 3.4 First and Last Purchase per Customer
sales_df.groupBy("customer_id") \
    .agg(min("sale_date").alias("first_purchase"),
         max("sale_date").alias("last_purchase")) \
    .show()

+-----------+-------------------+-------------------+
|customer_id|     first_purchase|      last_purchase|
+-----------+-------------------+-------------------+
|        501|2025-07-10 08:23:00|2025-07-10 08:23:00|
|        502|2025-07-11 09:45:00|2025-07-11 09:45:00|
|        503|2025-07-12 10:15:00|2025-07-12 10:15:00|
|        504|2025-07-13 12:20:00|2025-07-13 12:20:00|
|        505|2025-07-14 14:35:00|2025-07-14 14:35:00|
|        506|2025-07-15 16:00:00|2025-07-15 16:00:00|
+-----------+-------------------+-------------------+

In [85]:
# 3.5 Customer Churn (No Purchase in Last 30 Days from 2025-07-28)
from pyspark.sql.functions import lit

last_30_date = "2025-06-28"

latest_purchase = sales_df.groupBy("customer_id") \
    .agg(max("sale_date").alias("last_purchase"))

customer_df.join(latest_purchase, "customer_id", "left") \
    .filter((col("last_purchase") < last_30_date) | col("last_purchase").isNull()) \
    .select("customer_id", "customer_name") \
    .show()

+-----------+-------------+
|customer_id|customer_name|
+-----------+-------------+
+-----------+-------------+