<a href="https://colab.research.google.com/github/KAYALAIMMANUELRAJU/PySpark1/blob/main/(3)ThirdDayProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linux Basic

In [ ]:
print("My name is IMMANUEL")

My name is IMMANUEL

In [ ]:
!pwd

/content

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux ad781dd04101 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

In [ ]:
!whoami

root

In [ ]:
!python --version

Python 3.11.13

## PySpark Basics of DataFrame

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.27
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# Create DataFrame
data = [("Hello", "World")]
columns = ["Word1", "Word2"]
df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

## Basic Transformation and Actions

In [ ]:
columns =["Name", "Department", "Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob","IT",4500)
]
df = spark.createDataFrame(data, columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Filter: Employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# GroupBy and Aggregate: Avarage salary by department
df_grouped =df.groupBy("Department").avg("Salary")
df_grouped.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Add a new column: Salary with bonus (10%)
from pyspark.sql.functions import col
exp =col("Salary") * 1.1
df_bonus = df.withColumn("Salary_10%_Bonus", exp)
df_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper,lower, concat_ws,length,when
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Change Case Tranformation
df_upper= df.withColumn("Name_Upper", upper(col("Name")))
df_lower= df.withColumn("Name_Lower", lower(col("Name")))
df_concat = df.withColumn("Name_Department", concat_ws(" - ", col("Name"), col("Department")))
df_upper.show()
df_lower.show()
df_concat.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_Upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_Lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

+-----+----------+------+---------------+
| Name|Department|Salary|Name_Department|
+-----+----------+------+---------------+
| John|     Sales|  3000|   John - Sales|
| Jane|   Finance|  4000| Jane - Finance|
| Mike|     Sales|  3500|   Mike - Sales|
|Alice|   Finance|  3800|Alice - Finance|
|  Bob|        IT|  4500|       Bob - IT|
+-----+----------+------+---------------+

In [ ]:
# Concatenate the Columns
df_concat =df.withColumn("Full_Name", concat_ws(" ", col("Name"), col("Department")))
df_concat.show()

+-----+----------+------+-------------+
| Name|Department|Salary|    Full_Name|
+-----+----------+------+-------------+
| John|     Sales|  3000|   John Sales|
| Jane|   Finance|  4000| Jane Finance|
| Mike|     Sales|  3500|   Mike Sales|
|Alice|   Finance|  3800|Alice Finance|
|  Bob|        IT|  4500|       Bob IT|
+-----+----------+------+-------------+

In [ ]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# Conditional Column (Salary Category
df_conditional =df.withColumn("Salary_Category",
                               when(col("Salary") >= 4000, "High")
                               .when(col("Salary") >= 3500, "Medium")
                               .otherwise("Low"))
df_conditional.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Salary_Category|
+-----+----------+------+---------------+
| John|     Sales|  3000|            Low|
| Jane|   Finance|  4000|           High|
| Mike|     Sales|  3500|         Medium|
|Alice|   Finance|  3800|         Medium|
|  Bob|        IT|  4500|           High|
+-----+----------+------+---------------+

In [ ]:
# Rename Column (Salary --> Base_Salary)
df_renamed = df.withColumnRenamed("Salary", "Base_Salary")
df_renamed.show()

+-----+----------+-----------+
| Name|Department|Base_Salary|
+-----+----------+-----------+
| John|     Sales|       3000|
| Jane|   Finance|       4000|
| Mike|     Sales|       3500|
|Alice|   Finance|       3800|
|  Bob|        IT|       4500|
+-----+----------+-----------+

## Advance Transformation and Action in PySpark

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# GroupBy Department and count employees
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [ ]:
# GroupBy Department and calculate average salary
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# GroupBy Department and calculate multiple Aggregations
from pyspark.sql import functions as functions
df.groupBy("Department").agg(
    functions.avg("Salary").alias("Average_Salary"),
    functions.max("Salary").alias("Max_Salary"),
    functions.min("Salary").alias("Min_Salary")
).show()

+----------+--------------+----------+----------+
|Department|Average_Salary|Max_Salary|Min_Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department","Location"]
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [ ]:
# Perform an outer join
outer_joined_df = df.join(dept_df, on="Department", how="outer")
outer_joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [ ]:
# Perform Inner Join
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [ ]:
# Perfom Left Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [ ]:
# Perfom Right Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [ ]:
# Perfom Full Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="full").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

## Case Study Activity

In [ ]:
#  1. Setup: Load DataFrames
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, month, year, when, desc, row_number, min, max
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("SalesAnalysis").getOrCreate()

# Load CSV files
sales_df = spark.read.option("header", True).option("inferSchema", True).csv("sales_data.csv")
product_df = spark.read.option("header", True).option("inferSchema", True).csv("product_data.csv")
customer_df = spark.read.option("header", True).option("inferSchema", True).csv("customer_data.csv")

# Create revenue column
sales_df = sales_df.withColumn("revenue", col("quantity") * col("price"))

In [ ]:
# 2. Aggregations
# 2.1 Total Revenue Per Product
total_revenue_product = sales_df.groupBy("product_id").agg(sum("revenue").alias("total_revenue"))
total_revenue_product.show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       148|         58.0|
|       137|        115.0|
|       133|        115.5|
|       108|        235.0|
|       101|        280.5|
|       115|        484.0|
|       126|        240.0|
|       103|        240.0|
|       128|         90.0|
|       122|        100.0|
|       111|        292.5|
|       140|         80.0|
|       132|        132.0|
|       146|        180.0|
|       142|        190.0|
|       139|         55.5|
|       120|        211.5|
|       117|        114.0|
|       112|        231.0|
|       127|         70.0|
+----------+-------------+
only showing top 20 rows

In [ ]:
# 2.2 Total Quantity Sold Per Customer
quantity_per_customer = sales_df.groupBy("customer_id").agg(sum("quantity").alias("total_quantity"))
quantity_per_customer.show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        540|             3|
|        516|             4|
|        513|             8|
|        530|             2|
|        501|             3|
|        548|             9|
|        539|             6|
|        519|             6|
|        556|             8|
|        512|             9|
|        570|             3|
|        559|             6|
|        545|             3|
|        507|             3|
|        544|             7|
|        542|             8|
|        553|             7|
|        560|             5|
|        504|             5|
|        554|             5|
+-----------+--------------+
only showing top 20 rows

In [ ]:
# 2.3 Average Revenue Per Customer
avg_revenue_customer = sales_df.groupBy("customer_id").agg(avg("revenue").alias("avg_revenue"))
avg_revenue_customer.show()

+-----------+-----------+
|customer_id|avg_revenue|
+-----------+-----------+
|        540|       55.5|
|        516|      128.0|
|        513|      180.0|
|        530|       76.0|
|        501|       76.5|
|        548|      198.0|
|        539|      210.0|
|        519|      111.0|
|        556|      400.0|
|        512|       90.0|
|        570|      120.0|
|        559|      108.0|
|        545|       91.5|
|        507|      120.0|
|        544|       84.0|
|        542|      172.0|
|        553|      210.0|
|        560|      160.0|
|        504|      127.5|
|        554|      200.0|
+-----------+-----------+
only showing top 20 rows

In [ ]:
# 2.4 Monthly Sales Total
monthly_sales = sales_df.withColumn("month", month("sale_date")) \
                        .withColumn("year", year("sale_date")) \
                        .groupBy("year", "month").agg(sum("revenue").alias("monthly_total"))
monthly_sales.show()

+----+-----+-------------+
|year|month|monthly_total|
+----+-----+-------------+
|2025|    9|       2679.0|
|2025|    7|       2795.5|
|2025|    8|       4136.0|
+----+-----+-------------+

In [ ]:
# 2.5 Count of Sales Per Category
sales_with_category = sales_df.join(product_df, "product_id")
category_count = sales_with_category.groupBy("category").agg(count("*").alias("sales_count"))
category_count.show()

+-------------+-----------+
|     category|sales_count|
+-------------+-----------+
|  Electronics|         16|
|    Furniture|         18|
|      Gadgets|         21|
|Home & Living|         15|
+-------------+-----------+

In [ ]:
# 2.6 Top 3 Most Expensive Products Sold (By Revenue)
revenue_product = sales_df.groupBy("product_id").agg(sum("revenue").alias("total_revenue"))
top3_products = revenue_product.orderBy(desc("total_revenue")).limit(3)
top3_products.show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        540.0|
|       106|        520.0|
|       115|        484.0|
+----------+-------------+

In [ ]:
# 3. Joins
# 3.1 Sales with Product Information
sales_product = sales_df.join(product_df, "product_id")
sales_product.show()

+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|revenue|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|   76.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|   30.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|   30.0|    Widget C|  Electronics|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|  127.5|    Widget A|      Gadgets|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|  450.0|    Widget E|Home & Living|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|   60.0|    Widget B|      Gadgets|
|       106|   1007|        507|2025-07-16 17:10:00|       3| 40.0|  120.0|    Widget F|Home & Living|
|       107|   1008|        508|2025-07-17 18:25:00|       2| 60.0|  120.0|    Widget G|    Furniture|
|       108|   1009|        509|2025-07-18 19:30:00|       7| 25.0|  175.0|    Widget H|      Gadgets|
|       109|   1010|        510|2025-07-19 20:45:00|       6| 50.0|  300.0|    Widget I|    Furniture|
|       110|   1011|        511|2025-07-20 21:55:00|       4| 12.5|   50.0|    Widget J|  Electronics|
|       111|   1012|        512|2025-07-21 22:30:00|       9| 10.0|   90.0|    Widget K|Home & Living|
|       112|   1013|        513|2025-07-22 23:40:00|       8| 22.5|  180.0|    Widget L|  Electronics|
|       113|   1014|        514|2025-07-23 09:15:00|       3| 17.0|   51.0|    Widget M|      Gadgets|
|       114|   1015|        515|2025-07-24 10:35:00|       2| 45.5|   91.0|    Widget N|    Furniture|
|       115|   1016|        516|2025-07-25 11:45:00|       4| 32.0|  128.0|    Widget O|      Gadgets|
|       116|   1017|        517|2025-07-26 13:00:00|       5| 28.0|  140.0|    Widget P|Home & Living|
|       117|   1018|        518|2025-07-27 14:15:00|       1| 50.0|   50.0|    Widget Q|  Electronics|
|       118|   1019|        519|2025-07-28 15:30:00|       6| 18.5|  111.0|    Widget R|    Furniture|
|       119|   1020|        520|2025-07-29 16:45:00|       7| 40.0|  280.0|    Widget S|      Gadgets|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
only showing top 20 rows

In [ ]:
# 3.2 Join Sales with Customer Information
sales_customer = sales_df.join(customer_df, "customer_id")
sales_customer.show()

+-----------+-------+----------+-------------------+--------+-----+-------+-------------+-------------------+-------------------+
|customer_id|sale_id|product_id|          sale_date|quantity|price|revenue|customer_name|              email|          join_date|
+-----------+-------+----------+-------------------+--------+-----+-------+-------------+-------------------+-------------------+
|        501|   1001|       101|2025-07-10 08:23:00|       3| 25.5|   76.5|        Alice|  alice@example.com|2025-05-20 10:10:00|
|        502|   1002|       102|2025-07-11 09:45:00|       2| 15.0|   30.0|          Bob|    bob@example.com|2025-06-15 14:00:00|
|        503|   1003|       103|2025-07-12 10:15:00|       1| 30.0|   30.0|      Charlie|charlie@example.com|2025-04-05 09:50:00|
|        504|   1004|       101|2025-07-13 12:20:00|       5| 25.5|  127.5|        David|  david@example.com|2025-07-01 12:25:00|
|        505|   1005|       105|2025-07-14 14:35:00|      10| 45.0|  450.0|         Emma|   emma@example.com|2025-07-10 15:30:00|
|        506|   1006|       102|2025-07-15 16:00:00|       4| 15.0|   60.0|        Frank|  frank@example.com|2025-03-23 17:00:00|
|        507|   1007|       106|2025-07-16 17:10:00|       3| 40.0|  120.0|        Grace|  grace@example.com|2025-05-01 13:20:00|
|        508|   1008|       107|2025-07-17 18:25:00|       2| 60.0|  120.0|        Henry|  henry@example.com|2025-06-07 10:10:00|
|        509|   1009|       108|2025-07-18 19:30:00|       7| 25.0|  175.0|       Isabel| isabel@example.com|2025-05-25 16:30:00|
|        510|   1010|       109|2025-07-19 20:45:00|       6| 50.0|  300.0|         Jack|   jack@example.com|2025-04-12 11:55:00|
|        511|   1011|       110|2025-07-20 21:55:00|       4| 12.5|   50.0|         Kate|   kate@example.com|2025-06-18 14:10:00|
|        512|   1012|       111|2025-07-21 22:30:00|       9| 10.0|   90.0|         Liam|   liam@example.com|2025-07-05 08:45:00|
|        513|   1013|       112|2025-07-22 23:40:00|       8| 22.5|  180.0|         Mona|   mona@example.com|2025-03-30 15:25:00|
|        514|   1014|       113|2025-07-23 09:15:00|       3| 17.0|   51.0|         Nina|   nina@example.com|2025-04-19 10:35:00|
|        515|   1015|       114|2025-07-24 10:35:00|       2| 45.5|   91.0|        Oscar|  oscar@example.com|2025-05-14 09:15:00|
|        516|   1016|       115|2025-07-25 11:45:00|       4| 32.0|  128.0|         Paul|   paul@example.com|2025-06-03 12:50:00|
|        517|   1017|       116|2025-07-26 13:00:00|       5| 28.0|  140.0|        Quinn|  quinn@example.com|2025-07-13 13:10:00|
|        518|   1018|       117|2025-07-27 14:15:00|       1| 50.0|   50.0|         Rita|   rita@example.com|2025-07-20 11:00:00|
|        519|   1019|       118|2025-07-28 15:30:00|       6| 18.5|  111.0|         Sara|   sara@example.com|2025-06-30 17:40:00|
|        520|   1020|       119|2025-07-29 16:45:00|       7| 40.0|  280.0|          Tom|    tom@example.com|2025-05-18 14:20:00|
+-----------+-------+----------+-------------------+--------+-----+-------+-------------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
# 3.3 Inner Join Between Sales and Products (Only "Gadgets")
gadgets_sales = sales_df.join(product_df, "product_id") \
                        .filter(col("category") == "Gadgets")
gadgets_sales.show()

+----------+-------+-----------+-------------------+--------+-----+-------+------------+--------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|revenue|product_name|category|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+--------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|   76.5|    Widget A| Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|   30.0|    Widget B| Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|  127.5|    Widget A| Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|   60.0|    Widget B| Gadgets|
|       108|   1009|        509|2025-07-18 19:30:00|       7| 25.0|  175.0|    Widget H| Gadgets|
|       113|   1014|        514|2025-07-23 09:15:00|       3| 17.0|   51.0|    Widget M| Gadgets|
|       115|   1016|        516|2025-07-25 11:45:00|       4| 32.0|  128.0|    Widget O| Gadgets|
|       119|   1020|        520|2025-07-29 16:45:00|       7| 40.0|  280.0|    Widget S| Gadgets|
|       125|   1026|        526|2025-08-04 22:25:00|       8| 33.0|  264.0|    Widget Y| Gadgets|
|       128|   1029|        529|2025-08-07 10:10:00|       4| 22.5|   90.0|   Widget AB| Gadgets|
|       131|   1032|        532|2025-08-10 13:30:00|       8| 29.5|  236.0|   Widget AE| Gadgets|
|       137|   1038|        538|2025-08-16 19:00:00|       5| 23.0|  115.0|   Widget AK| Gadgets|
|       141|   1042|        542|2025-08-20 23:10:00|       8| 21.5|  172.0|   Widget AO| Gadgets|
|       144|   1045|        545|2025-08-23 11:40:00|       3| 30.5|   91.5|   Widget AR| Gadgets|
|       149|   1050|        550|2025-08-28 16:50:00|       1| 50.0|   50.0|   Widget AW| Gadgets|
|       101|   1051|        551|2025-08-29 17:55:00|       3| 25.5|   76.5|    Widget A| Gadgets|
|       102|   1052|        552|2025-08-30 18:45:00|       4| 15.0|   60.0|    Widget B| Gadgets|
|       108|   1058|        558|2025-09-05 09:30:00|       1| 60.0|   60.0|    Widget H| Gadgets|
|       113|   1063|        563|2025-09-10 15:25:00|       7| 38.0|  266.0|    Widget M| Gadgets|
|       115|   1065|        565|2025-09-12 17:45:00|       8| 44.5|  356.0|    Widget O| Gadgets|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+--------+
only showing top 20 rows

In [ ]:
# 3.4 Left Join Between Sales and Products
left_join_df = sales_df.join(product_df, "product_id", "left")
left_join_df.show()

+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|revenue|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|   76.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|   30.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|   30.0|    Widget C|  Electronics|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|  127.5|    Widget A|      Gadgets|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|  450.0|    Widget E|Home & Living|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|   60.0|    Widget B|      Gadgets|
|       106|   1007|        507|2025-07-16 17:10:00|       3| 40.0|  120.0|    Widget F|Home & Living|
|       107|   1008|        508|2025-07-17 18:25:00|       2| 60.0|  120.0|    Widget G|    Furniture|
|       108|   1009|        509|2025-07-18 19:30:00|       7| 25.0|  175.0|    Widget H|      Gadgets|
|       109|   1010|        510|2025-07-19 20:45:00|       6| 50.0|  300.0|    Widget I|    Furniture|
|       110|   1011|        511|2025-07-20 21:55:00|       4| 12.5|   50.0|    Widget J|  Electronics|
|       111|   1012|        512|2025-07-21 22:30:00|       9| 10.0|   90.0|    Widget K|Home & Living|
|       112|   1013|        513|2025-07-22 23:40:00|       8| 22.5|  180.0|    Widget L|  Electronics|
|       113|   1014|        514|2025-07-23 09:15:00|       3| 17.0|   51.0|    Widget M|      Gadgets|
|       114|   1015|        515|2025-07-24 10:35:00|       2| 45.5|   91.0|    Widget N|    Furniture|
|       115|   1016|        516|2025-07-25 11:45:00|       4| 32.0|  128.0|    Widget O|      Gadgets|
|       116|   1017|        517|2025-07-26 13:00:00|       5| 28.0|  140.0|    Widget P|Home & Living|
|       117|   1018|        518|2025-07-27 14:15:00|       1| 50.0|   50.0|    Widget Q|  Electronics|
|       118|   1019|        519|2025-07-28 15:30:00|       6| 18.5|  111.0|    Widget R|    Furniture|
|       119|   1020|        520|2025-07-29 16:45:00|       7| 40.0|  280.0|    Widget S|      Gadgets|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
only showing top 20 rows

In [ ]:
# 3.5 Self-Join Sales Table on Same Product (Different Date)
sales_self_join = sales_df.alias("s1").join(
    sales_df.alias("s2"),
    (col("s1.product_id") == col("s2.product_id")) & (col("s1.sale_date") < col("s2.sale_date"))
)
sales_self_join.select("s1.sale_id", "s1.sale_date", "s2.sale_date", "s1.product_id").show()

+-------+-------------------+-------------------+----------+
|sale_id|          sale_date|          sale_date|product_id|
+-------+-------------------+-------------------+----------+
|   1001|2025-07-10 08:23:00|2025-08-29 17:55:00|       101|
|   1001|2025-07-10 08:23:00|2025-07-13 12:20:00|       101|
|   1002|2025-07-11 09:45:00|2025-08-30 18:45:00|       102|
|   1002|2025-07-11 09:45:00|2025-07-15 16:00:00|       102|
|   1003|2025-07-12 10:15:00|2025-08-31 19:30:00|       103|
|   1004|2025-07-13 12:20:00|2025-08-29 17:55:00|       101|
|   1005|2025-07-14 14:35:00|2025-09-02 21:10:00|       105|
|   1006|2025-07-15 16:00:00|2025-08-30 18:45:00|       102|
|   1007|2025-07-16 17:10:00|2025-09-03 22:30:00|       106|
|   1008|2025-07-17 18:25:00|2025-09-04 23:50:00|       107|
|   1009|2025-07-18 19:30:00|2025-09-05 09:30:00|       108|
|   1010|2025-07-19 20:45:00|2025-09-06 10:40:00|       109|
|   1011|2025-07-20 21:55:00|2025-09-07 11:50:00|       110|
|   1012|2025-07-21 22:30:00|2025-09-08 13:00:00|       111|
|   1013|2025-07-22 23:40:00|2025-09-09 14:10:00|       112|
|   1014|2025-07-23 09:15:00|2025-09-10 15:25:00|       113|
|   1015|2025-07-24 10:35:00|2025-09-11 16:35:00|       114|
|   1016|2025-07-25 11:45:00|2025-09-12 17:45:00|       115|
|   1017|2025-07-26 13:00:00|2025-09-13 18:55:00|       116|
|   1018|2025-07-27 14:15:00|2025-09-14 20:00:00|       117|
+-------+-------------------+-------------------+----------+
only showing top 20 rows

In [ ]:
# 3.6 Full Outer Join Sales and Products
full_outer = sales_df.join(product_df, "product_id", "outer")
full_outer.show()

+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|revenue|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|   76.5|    Widget A|      Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|  127.5|    Widget A|      Gadgets|
|       101|   1051|        551|2025-08-29 17:55:00|       3| 25.5|   76.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|   30.0|    Widget B|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|   60.0|    Widget B|      Gadgets|
|       102|   1052|        552|2025-08-30 18:45:00|       4| 15.0|   60.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|   30.0|    Widget C|  Electronics|
|       103|   1053|        553|2025-08-31 19:30:00|       7| 30.0|  210.0|    Widget C|  Electronics|
|       104|   1054|        554|2025-09-01 20:40:00|       5| 40.0|  200.0|    Widget D|  Electronics|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|  450.0|    Widget E|Home & Living|
|       105|   1055|        555|2025-09-02 21:10:00|       2| 45.0|   90.0|    Widget E|Home & Living|
|       106|   1007|        507|2025-07-16 17:10:00|       3| 40.0|  120.0|    Widget F|Home & Living|
|       106|   1056|        556|2025-09-03 22:30:00|       8| 50.0|  400.0|    Widget F|Home & Living|
|       107|   1008|        508|2025-07-17 18:25:00|       2| 60.0|  120.0|    Widget G|    Furniture|
|       107|   1057|        557|2025-09-04 23:50:00|       3| 20.5|   61.5|    Widget G|    Furniture|
|       108|   1009|        509|2025-07-18 19:30:00|       7| 25.0|  175.0|    Widget H|      Gadgets|
|       108|   1058|        558|2025-09-05 09:30:00|       1| 60.0|   60.0|    Widget H|      Gadgets|
|       109|   1010|        510|2025-07-19 20:45:00|       6| 50.0|  300.0|    Widget I|    Furniture|
|       109|   1059|        559|2025-09-06 10:40:00|       6| 18.0|  108.0|    Widget I|    Furniture|
|       110|   1011|        511|2025-07-20 21:55:00|       4| 12.5|   50.0|    Widget J|  Electronics|
+----------+-------+-----------+-------------------+--------+-----+-------+------------+-------------+
only showing top 20 rows

In [ ]:
# 3.7 Join Multiple Tables (Sales + Customer + Product)
complete_view = sales_df.join(customer_df, "customer_id") \
                        .join(product_df, "product_id")
complete_view.select("sale_id", "customer_name", "product_name", "category", "revenue").show()

+-------+-------------+------------+-------------+-------+
|sale_id|customer_name|product_name|     category|revenue|
+-------+-------------+------------+-------------+-------+
|   1001|        Alice|    Widget A|      Gadgets|   76.5|
|   1002|          Bob|    Widget B|      Gadgets|   30.0|
|   1003|      Charlie|    Widget C|  Electronics|   30.0|
|   1004|        David|    Widget A|      Gadgets|  127.5|
|   1005|         Emma|    Widget E|Home & Living|  450.0|
|   1006|        Frank|    Widget B|      Gadgets|   60.0|
|   1007|        Grace|    Widget F|Home & Living|  120.0|
|   1008|        Henry|    Widget G|    Furniture|  120.0|
|   1009|       Isabel|    Widget H|      Gadgets|  175.0|
|   1010|         Jack|    Widget I|    Furniture|  300.0|
|   1011|         Kate|    Widget J|  Electronics|   50.0|
|   1012|         Liam|    Widget K|Home & Living|   90.0|
|   1013|         Mona|    Widget L|  Electronics|  180.0|
|   1014|         Nina|    Widget M|      Gadgets|   51.0|
|   1015|        Oscar|    Widget N|    Furniture|   91.0|
|   1016|         Paul|    Widget O|      Gadgets|  128.0|
|   1017|        Quinn|    Widget P|Home & Living|  140.0|
|   1018|         Rita|    Widget Q|  Electronics|   50.0|
|   1019|         Sara|    Widget R|    Furniture|  111.0|
|   1020|          Tom|    Widget S|      Gadgets|  280.0|
+-------+-------------+------------+-------------+-------+
only showing top 20 rows

In [ ]:
# 4. Transformations
# 4.1 Filter Data for Specific Date Range
from pyspark.sql.functions import to_date

filtered_sales = sales_df.filter((col("sale_date") >= "2025-07-10") & (col("sale_date") <= "2025-07-15"))
filtered_sales.show()

+-------+----------+-----------+-------------------+--------+-----+-------+
|sale_id|product_id|customer_id|          sale_date|quantity|price|revenue|
+-------+----------+-----------+-------------------+--------+-----+-------+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|   76.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|   30.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|   30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|  127.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|  450.0|
+-------+----------+-----------+-------------------+--------+-----+-------+

In [ ]:
# 4.2 Top 5 Customers by Total Spend
top_customers = sales_df.groupBy("customer_id").agg(sum("revenue").alias("total_spent")) \
                        .orderBy(desc("total_spent")).limit(5)
top_customers.show()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|        505|      450.0|
|        556|      400.0|
|        565|      356.0|
|        510|      300.0|
|        520|      280.0|
+-----------+-----------+

In [ ]:
# 4.3 Categorize Customers Based on Spend
spend_df = sales_df.groupBy("customer_id").agg(sum("revenue").alias("total_spent"))

spend_categorized = spend_df.withColumn("spend_category",
    when(col("total_spent") < 100, "Low")
    .when(col("total_spent") < 300, "Medium")
    .otherwise("High")
)
spend_categorized.show()

+-----------+-----------+--------------+
|customer_id|total_spent|spend_category|
+-----------+-----------+--------------+
|        540|       55.5|           Low|
|        516|      128.0|        Medium|
|        513|      180.0|        Medium|
|        530|       76.0|           Low|
|        501|       76.5|           Low|
|        548|      198.0|        Medium|
|        539|      210.0|        Medium|
|        519|      111.0|        Medium|
|        556|      400.0|          High|
|        512|       90.0|           Low|
|        570|      120.0|        Medium|
|        559|      108.0|        Medium|
|        545|       91.5|           Low|
|        507|      120.0|        Medium|
|        544|       84.0|           Low|
|        542|      172.0|        Medium|
|        553|      210.0|        Medium|
|        560|      160.0|        Medium|
|        504|      127.5|        Medium|
|        554|      200.0|        Medium|
+-----------+-----------+--------------+
only showing top 20 rows

In [ ]:
# 4.4 First and Last Purchase for Each Customer
first_last = sales_df.groupBy("customer_id").agg(
    min("sale_date").alias("first_purchase"),
    max("sale_date").alias("last_purchase")
)
first_last.show()

+-----------+-------------------+-------------------+
|customer_id|     first_purchase|      last_purchase|
+-----------+-------------------+-------------------+
|        540|2025-08-18 21:25:00|2025-08-18 21:25:00|
|        516|2025-07-25 11:45:00|2025-07-25 11:45:00|
|        513|2025-07-22 23:40:00|2025-07-22 23:40:00|
|        530|2025-08-08 11:00:00|2025-08-08 11:00:00|
|        501|2025-07-10 08:23:00|2025-07-10 08:23:00|
|        548|2025-08-26 14:25:00|2025-08-26 14:25:00|
|        539|2025-08-17 20:15:00|2025-08-17 20:15:00|
|        519|2025-07-28 15:30:00|2025-07-28 15:30:00|
|        556|2025-09-03 22:30:00|2025-09-03 22:30:00|
|        512|2025-07-21 22:30:00|2025-07-21 22:30:00|
|        570|2025-09-17 23:00:00|2025-09-17 23:00:00|
|        559|2025-09-06 10:40:00|2025-09-06 10:40:00|
|        545|2025-08-23 11:40:00|2025-08-23 11:40:00|
|        507|2025-07-16 17:10:00|2025-07-16 17:10:00|
|        544|2025-08-22 10:30:00|2025-08-22 10:30:00|
|        542|2025-08-20 23:10:00|2025-08-20 23:10:00|
|        553|2025-08-31 19:30:00|2025-08-31 19:30:00|
|        560|2025-09-07 11:50:00|2025-09-07 11:50:00|
|        504|2025-07-13 12:20:00|2025-07-13 12:20:00|
|        554|2025-09-01 20:40:00|2025-09-01 20:40:00|
+-----------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
# 4.5 Customer Churn (No Purchase in Last 30 Days)
from pyspark.sql.functions import current_date, datediff

# Assume latest sale date from data
latest_sale_date = sales_df.agg(max("sale_date")).collect()[0][0]

churn_df = sales_df.groupBy("customer_id").agg(max("sale_date").alias("last_purchase"))
churned_customers = churn_df.filter(datediff(lit(latest_sale_date), col("last_purchase")) > 30)
churned_customers.show()

+-----------+-------------------+
|customer_id|      last_purchase|
+-----------+-------------------+
|        516|2025-07-25 11:45:00|
|        513|2025-07-22 23:40:00|
|        530|2025-08-08 11:00:00|
|        501|2025-07-10 08:23:00|
|        539|2025-08-17 20:15:00|
|        519|2025-07-28 15:30:00|
|        512|2025-07-21 22:30:00|
|        507|2025-07-16 17:10:00|
|        504|2025-07-13 12:20:00|
|        511|2025-07-20 21:55:00|
|        502|2025-07-11 09:45:00|
|        523|2025-08-01 19:00:00|
|        531|2025-08-09 12:20:00|
|        505|2025-07-14 14:35:00|
|        538|2025-08-16 19:00:00|
|        503|2025-07-12 10:15:00|
|        537|2025-08-15 18:30:00|
|        520|2025-07-29 16:45:00|
|        514|2025-07-23 09:15:00|
|        532|2025-08-10 13:30:00|
+-----------+-------------------+
only showing top 20 rows

## Adv. PySpark(Window Functions)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [ ]:
from pyspark.sql.window import Window
window_spec = Window.partitionBy("address.city").orderBy("salary")
df.withColumn("rank", rank().over(window_spec)).show()

+---+-------+------+--------------------+--------------------+----+
| id|   name|salary|            subjects|             address|rank|
+---+-------+------+--------------------+--------------------+----+
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|   1|
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|   1|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|   2|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|   1|
+---+-------+------+--------------------+--------------------+----+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number, rank, dense_rank, max, sum, avg

# Employee Data
data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "Finance", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Tom", "Sales", 3700),
    (7, "Jerry", "Finance", 4200),
    (8, "Sam", "IT", 4700),
    (9, "Steve", "Sales", 3100),
    (10, "Rachel", "IT", 4600)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)

df.show()

+-----+------+----------+------+
|EmpID|  Name|Department|Salary|
+-----+------+----------+------+
|    1|  John|     Sales|  3000|
|    2|  Jane|   Finance|  4000|
|    3|  Mike|     Sales|  3500|
|    4| Alice|   Finance|  3800|
|    5|   Bob|        IT|  4500|
|    6|   Tom|     Sales|  3700|
|    7| Jerry|   Finance|  4200|
|    8|   Sam|        IT|  4700|
|    9| Steve|     Sales|  3100|
|   10|Rachel|        IT|  4600|
+-----+------+----------+------+

In [ ]:
windowSpec= Window.partitionBy("Department").orderBy(col("Salary").desc())
df.withColumn("Rank", rank().over(windowSpec)).show()

+-----+------+----------+------+----+
|EmpID|  Name|Department|Salary|Rank|
+-----+------+----------+------+----+
|    7| Jerry|   Finance|  4200|   1|
|    2|  Jane|   Finance|  4000|   2|
|    4| Alice|   Finance|  3800|   3|
|    8|   Sam|        IT|  4700|   1|
|   10|Rachel|        IT|  4600|   2|
|    5|   Bob|        IT|  4500|   3|
|    6|   Tom|     Sales|  3700|   1|
|    3|  Mike|     Sales|  3500|   2|
|    9| Steve|     Sales|  3100|   3|
|    1|  John|     Sales|  3000|   4|
+-----+------+----------+------+----+

In [ ]:
windowSpec = Window.partitionBy("Department")
df.withColumn("Max_Salary", max("Salary").over(windowSpec)).show()

+-----+------+----------+------+----------+
|EmpID|  Name|Department|Salary|Max_Salary|
+-----+------+----------+------+----------+
|    2|  Jane|   Finance|  4000|      4200|
|    4| Alice|   Finance|  3800|      4200|
|    7| Jerry|   Finance|  4200|      4200|
|    5|   Bob|        IT|  4500|      4700|
|    8|   Sam|        IT|  4700|      4700|
|   10|Rachel|        IT|  4600|      4700|
|    1|  John|     Sales|  3000|      3700|
|    3|  Mike|     Sales|  3500|      3700|
|    6|   Tom|     Sales|  3700|      3700|
|    9| Steve|     Sales|  3100|      3700|
+-----+------+----------+------+----------+

In [ ]:
#department name and max salary
window_spec = Window.partitionBy("Department").orderBy(col("Salary").desc())

df.withColumn("Max Salary", max("Salary").over(window_spec)).select("Department", "Max Salary").distinct().show()

+----------+----------+
|Department|Max Salary|
+----------+----------+
|   Finance|      4200|
|        IT|      4700|
|     Sales|      3700|
+----------+----------+

In [ ]:
windowSpec = Window.partitionBy("Department").orderBy(col("Salary")).rowsBetween(Window.unboundedPreceding, 0)
df.withColumn("Cumulative Salary", sum("Salary").over(windowSpec)).show()

+-----+------+----------+------+-----------------+
|EmpID|  Name|Department|Salary|Cumulative Salary|
+-----+------+----------+------+-----------------+
|    4| Alice|   Finance|  3800|             3800|
|    2|  Jane|   Finance|  4000|             7800|
|    7| Jerry|   Finance|  4200|            12000|
|    5|   Bob|        IT|  4500|             4500|
|   10|Rachel|        IT|  4600|             9100|
|    8|   Sam|        IT|  4700|            13800|
|    1|  John|     Sales|  3000|             3000|
|    9| Steve|     Sales|  3100|             6100|
|    3|  Mike|     Sales|  3500|             9600|
|    6|   Tom|     Sales|  3700|            13300|
+-----+------+----------+------+-----------------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col,sum

window_base=Window.partitionBy("Department").orderBy("Salary")
df.withColumn("Cumulative Salary", sum("Salary").over(window_base)).show()

+-----+------+----------+------+-----------------+
|EmpID|  Name|Department|Salary|Cumulative Salary|
+-----+------+----------+------+-----------------+
|    4| Alice|   Finance|  3800|             3800|
|    2|  Jane|   Finance|  4000|             7800|
|    7| Jerry|   Finance|  4200|            12000|
|    5|   Bob|        IT|  4500|             4500|
|   10|Rachel|        IT|  4600|             9100|
|    8|   Sam|        IT|  4700|            13800|
|    1|  John|     Sales|  3000|             3000|
|    9| Steve|     Sales|  3100|             6100|
|    3|  Mike|     Sales|  3500|             9600|
|    6|   Tom|     Sales|  3700|            13300|
+-----+------+----------+------+-----------------+

In [ ]:
window_full_partition =Window.partitionBy("Department")
df.withColumn("Cumulative Salary", sum("Salary").over(window_full_partition)).show()

+-----+------+----------+------+-----------------+
|EmpID|  Name|Department|Salary|Cumulative Salary|
+-----+------+----------+------+-----------------+
|    2|  Jane|   Finance|  4000|            12000|
|    4| Alice|   Finance|  3800|            12000|
|    7| Jerry|   Finance|  4200|            12000|
|    5|   Bob|        IT|  4500|            13800|
|    8|   Sam|        IT|  4700|            13800|
|   10|Rachel|        IT|  4600|            13800|
|    1|  John|     Sales|  3000|            13300|
|    3|  Mike|     Sales|  3500|            13300|
|    6|   Tom|     Sales|  3700|            13300|
|    9| Steve|     Sales|  3100|            13300|
+-----+------+----------+------+-----------------+

In [ ]:
window_base=Window.partitionBy("Department").orderBy("Salary")
window_current=window_base.rowsBetween(0,0)
df.withColumn("Salary_CurrentOnly", sum("Salary").over(window_current)).show()

+-----+------+----------+------+------------------+
|EmpID|  Name|Department|Salary|Salary_CurrentOnly|
+-----+------+----------+------+------------------+
|    4| Alice|   Finance|  3800|              3800|
|    2|  Jane|   Finance|  4000|              4000|
|    7| Jerry|   Finance|  4200|              4200|
|    5|   Bob|        IT|  4500|              4500|
|   10|Rachel|        IT|  4600|              4600|
|    8|   Sam|        IT|  4700|              4700|
|    1|  John|     Sales|  3000|              3000|
|    9| Steve|     Sales|  3100|              3100|
|    3|  Mike|     Sales|  3500|              3500|
|    6|   Tom|     Sales|  3700|              3700|
+-----+------+----------+------+------------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [ ]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
@udf(IntegerType())
def subject_count(subjects):
  return len(subjects)

df.withColumn("subject_count", subject_count(df.subjects)).show()

+---+-------+------+--------------------+--------------------+-------------+
| id|   name|salary|            subjects|             address|subject_count|
+---+-------+------+--------------------+--------------------+-------------+
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|            2|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|            1|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|            3|
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|            1|
+---+-------+------+--------------------+--------------------+-------------+

In [ ]:
import pandas as pd
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import DoubleType

@pandas_udf(DoubleType())
def multiply_by_two(s: pd.Series) -> pd.Series:
    return s * 2

df.withColumn("double_salary",multiply_by_two(df.salary)).show()

+---+-------+------+--------------------+--------------------+-------------+
| id|   name|salary|            subjects|             address|double_salary|
+---+-------+------+--------------------+--------------------+-------------+
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|       4000.0|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|       3000.0|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|       4400.0|
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|       2400.0|
+---+-------+------+--------------------+--------------------+-------------+

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark Use Case Activities") \
    .getOrCreate()

from pyspark.sql.functions import col, rank, avg, udf, pandas_udf
from pyspark.sql.window import Window
import pandas as pd

employees_data = [
    (1, "Alice", "HR", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "IT", 4500),
    (5, "Eve", "Finance", 5000),
    (6, "Frank", "Finance", 4800),
]

employees_df = spark.createDataFrame(employees_data, ["id", "name", "department", "salary"])
employees_df.show()

departments_data = [
    ("HR", "New York"),
    ("IT", "San Francisco"),
    ("Finance", "Chicago"),
]

departments_df = spark.createDataFrame(departments_data, ["department", "location"])
departments_df.show()

+---+-----+----------+------+
| id| name|department|salary|
+---+-----+----------+------+
|  1|Alice|        HR|  3000|
|  2|  Bob|        IT|  4000|
|  3|Cathy|        HR|  3500|
|  4|David|        IT|  4500|
|  5|  Eve|   Finance|  5000|
|  6|Frank|   Finance|  4800|
+---+-----+----------+------+

+----------+-------------+
|department|     location|
+----------+-------------+
|        HR|     New York|
|        IT|San Francisco|
|   Finance|      Chicago|
+----------+-------------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col

windowSpec = Window.partitionBy("department").orderBy(col("salary").desc())

ranked_employees_df = employees_df.withColumn("Rank", rank().over(windowSpec))

ranked_employees_df.show()

+---+-----+----------+------+----+
| id| name|department|salary|Rank|
+---+-----+----------+------+----+
|  5|  Eve|   Finance|  5000|   1|
|  6|Frank|   Finance|  4800|   2|
|  3|Cathy|        HR|  3500|   1|
|  1|Alice|        HR|  3000|   2|
|  4|David|        IT|  4500|   1|
|  2|  Bob|        IT|  4000|   2|
+---+-----+----------+------+----+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import avg, col

windowSpec = Window.partitionBy("department")

avg_salary_df = employees_df.withColumn("Avg_Salary_Per_Dept", avg("salary").over(windowSpec))

avg_salary_df.show()

+---+-----+----------+------+-------------------+
| id| name|department|salary|Avg_Salary_Per_Dept|
+---+-----+----------+------+-------------------+
|  5|  Eve|   Finance|  5000|             4900.0|
|  6|Frank|   Finance|  4800|             4900.0|
|  1|Alice|        HR|  3000|             3250.0|
|  3|Cathy|        HR|  3500|             3250.0|
|  2|  Bob|        IT|  4000|             4250.0|
|  4|David|        IT|  4500|             4250.0|
+---+-----+----------+------+-------------------+

## Complex Nested Schemas Handling

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    ("John", ["Python", "Java"]),
    ("Jane", ["SQL", "R", "Scala"]),
    ("Mike", [])
]
columns = ["Name", "Skills"]

df = spark.createDataFrame(data, columns)
df.show(truncate=False)

+----+---------------+
|Name|Skills         |
+----+---------------+
|John|[Python, Java] |
|Jane|[SQL, R, Scala]|
|Mike|[]             |
+----+---------------+

In [ ]:
df_exploded = df.withColumn("Skill", explode(df.Skills))
df_exploded.show()

+----+---------------+------+
|Name|         Skills| Skill|
+----+---------------+------+
|John| [Python, Java]|Python|
|John| [Python, Java]|  Java|
|Jane|[SQL, R, Scala]|   SQL|
|Jane|[SQL, R, Scala]|     R|
|Jane|[SQL, R, Scala]| Scala|
+----+---------------+------+

In [ ]:
df.createOrReplaceTempView("people")

In [ ]:
df_lateral =spark.sql(""" Select Name, Skill from people lateral view explode(Skills) as Skill""")
df_lateral.show()

+----+------+
|Name| Skill|
+----+------+
|John|Python|
|John|  Java|
|Jane|   SQL|
|Jane|     R|
|Jane| Scala|
+----+------+

## Pivot and UnPivot operations

In [ ]:
data = [
    ("ProductA", "Jan", 100),
    ("ProductA", "Feb", 150),
    ("ProductA", "Mar", 120),
    ("ProductB", "Jan", 200),
    ("ProductB", "Feb", 230),
    ("ProductB", "Mar", 210),
]
columns = ["Product", "Month", "Sales"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
+--------+-----+-----+

In [ ]:
pivot_df=df.groupBy("Product").pivot("Month").sum("Sales")
pivot_df.show()

+--------+---+---+---+
| Product|Feb|Jan|Mar|
+--------+---+---+---+
|ProductB|230|200|210|
|ProductA|150|100|120|
+--------+---+---+---+

In [ ]:
wide_df = df.groupBy("Product").pivot("Month").sum("Sales")
unpivot_df = wide_df.selectExpr("Product","stack(3,'Jan',Jan,'Feb',Feb,'Mar',Mar) as (Month,Sales)")
unpivot_df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
+--------+-----+-----+

## RDD

In [ ]:
from pyspark import SparkContext, SparkConf

# Get the existing SparkContext
sc = SparkContext.getOrCreate()

rdd =sc.parallelize([1,2,3,4,5])

# Transformation: Map
rdd_mapped =rdd.map(lambda x: x*2)
print(rdd_mapped.collect())  #output: 2,4,6,8,10

# Transformation: Filter
rdd_filtered= rdd.filter (lambda x: x%2 ==0)
print(rdd_filtered.collect())  #output: 2,4

# Transformation: Reduce
rdd_reduced = rdd.reduce(lambda x,y: x+y)
print(rdd_reduced)  #output: 15

# Transformation: Flatmap
rdd =sc.parallelize([1,2,3])
rdd_flatmapped = rdd.flatMap(lambda x: range(x,x+3))
print(rdd_flatmapped.collect())  #output: 1, 2, 3, 2, 3, 4, 3, 4, 5

rdd=sc.parallelize(["Hello","World"])

# Create a list of characters for each string
rdd_flat=rdd.flatMap(lambda x: list(x))
print(rdd_flat.collect())   #output: 'H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd'

rdd = sc.parallelize([1,2,3,4,5])
rdd_group =rdd.groupBy(lambda x: "even" if x%2==0 else "odd")
print([(key, list(value)) for key, value in rdd_group.collect()])

[2, 4, 6, 8, 10]
[2, 4]
15
[1, 2, 3, 2, 3, 4, 3, 4, 5]
['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']
[('even', [2, 4]), ('odd', [1, 3, 5])]

## DataFrame

In [ ]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [ ]:
df.select("Name", "Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [ ]:
df.filter(df["Salary"]>6000).show()

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  4|Sara|   Finance|  7000|
+---+----+----------+------+

In [ ]:
df.withColumn("Bonus", df["Salary"]*0.1).show()

+---+-----+----------+------+-----+
| ID| Name|Department|Salary|Bonus|
+---+-----+----------+------+-----+
|  1| John|        HR|  5000|500.0|
|  2| Jane|        IT|  8000|800.0|
|  3| Mike|        IT|  6000|600.0|
|  4| Sara|   Finance|  7000|700.0|
|  5|David|        HR|  5500|550.0|
+---+-----+----------+------+-----+

In [ ]:
df=df.drop("Bonus")
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [ ]:
df = df.withColumnRenamed("Salary", "Salary_After_Tax")
df.show()

+---+-----+----------+----------------+
| ID| Name|Department|Salary_After_Tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  2| Jane|        IT|            8000|
|  3| Mike|        IT|            6000|
|  4| Sara|   Finance|            7000|
|  5|David|        HR|            5500|
+---+-----+----------+----------------+

In [ ]:
df.groupBy("Department").avg("Salary_After_Tax").show()

+----------+---------------------+
|Department|avg(Salary_After_Tax)|
+----------+---------------------+
|        HR|               5250.0|
|        IT|               7000.0|
|   Finance|               7000.0|
+----------+---------------------+

In [ ]:
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    2|
|        IT|    2|
|   Finance|    1|
+----------+-----+

In [ ]:
df.sort(df["Salary_After_Tax"].desc()).show()

+---+-----+----------+----------------+
| ID| Name|Department|Salary_After_Tax|
+---+-----+----------+----------------+
|  2| Jane|        IT|            8000|
|  4| Sara|   Finance|            7000|
|  3| Mike|        IT|            6000|
|  5|David|        HR|            5500|
|  1| John|        HR|            5000|
+---+-----+----------+----------------+

In [ ]:
from pyspark.sql.functions import asc
df.sort(df["Salary_After_Tax"].asc()).show()

+---+-----+----------+----------------+
| ID| Name|Department|Salary_After_Tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  5|David|        HR|            5500|
|  3| Mike|        IT|            6000|
|  4| Sara|   Finance|            7000|
|  2| Jane|        IT|            8000|
+---+-----+----------+----------------+

In [ ]:
data_list=df.collect()
for row in data_list:
  print(row)

Row(ID=1, Name='John', Department='HR', Salary_After_Tax=5000)
Row(ID=2, Name='Jane', Department='IT', Salary_After_Tax=8000)
Row(ID=3, Name='Mike', Department='IT', Salary_After_Tax=6000)
Row(ID=4, Name='Sara', Department='Finance', Salary_After_Tax=7000)
Row(ID=5, Name='David', Department='HR', Salary_After_Tax=5500)

## DataSet

In [ ]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import col

# Get the existing SparkContext
sc = SparkContext.getOrCreate()
rdd = sc.parallelize([Row(name="RAJ", age=23),Row(name="Hari",age=21)])
dataset=spark.createDataFrame(rdd)
dataset.show()
dataset.filter(col("age") > 20).show()
dataset.select("name").show()

+----+---+
|name|age|
+----+---+
| RAJ| 23|
|Hari| 21|
+----+---+

+----+---+
|name|age|
+----+---+
| RAJ| 23|
|Hari| 21|
+----+---+

+----+
|name|
+----+
| RAJ|
|Hari|
+----+

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [ ]:
# Convert to RDD
rdd=df.rdd
print("RDD Example", rdd.map(lambda x: (x.Name,x.Salary)).collect())

RDD Example [('Alice', 3000), ('Bob', 4000), ('Cathy', 3500), ('David', 4500), ('Eva', 4200)]

In [ ]:
df.select("Name","Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
|Alice|  3000|
|  Bob|  4000|
|Cathy|  3500|
|David|  4500|
|  Eva|  4200|
+-----+------+

In [ ]:
df.createOrReplaceTempView("employees")

strSQL="SELECT * FROM employees"
sql_result=spark.sql(strSQL)
sql_result.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

## DataFormatting

In [ ]:
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [ ]:
!pwd

/content

In [ ]:
df.write.mode("overwrite").json("/content/json_data")

In [ ]:
!ls /content/json_data

part-00000-865f4dd5-5990-4de9-a8de-704fb48b3d70-c000.json  _SUCCESS
part-00001-865f4dd5-5990-4de9-a8de-704fb48b3d70-c000.json

In [ ]:
!cat /content/json_data/part-00000-865f4dd5-5990-4de9-a8de-704fb48b3d70-c000.json

{"EmpID":1,"Name":"Alice","Department":"Sales","Salary":3000}

In [ ]:
json_df =spark.read.json("/content/json_data")
json_df.show()

+----------+-----+-----+------+
|Department|EmpID| Name|Salary|
+----------+-----+-----+------+
|        IT|    2|  Bob|  4000|
|        HR|    3|Cathy|  3500|
|     Sales|    1|Alice|  3000|
+----------+-----+-----+------+

In [ ]:
strPath="/content/csv_data"
df.write.mode("overwrite").option("header","true").csv(strPath)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [ ]:
csv_df=spark.read.option("header","true").csv(strPath)
csv_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    1|Alice|     Sales|  3000|
+-----+-----+----------+------+

## Spark Streaming

In [ ]:
import random
import csv

# Generate 30 records with random data
names = ["John", "Jane", "Mike", "Sara", "David", "Emily", "George", "Nina", "Tom", "Anna"]
departments = ["Sales", "IT", "HR", "Finance", "Marketing"]
salaries = [3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

# Create and open a CSV file for writing
with open('employee_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)

    # Write the header
    writer.writerow(["ID", "Name", "Department", "Salary"])

    # Write the 30 records
    for i in range(1, 31):
        name = random.choice(names)
        department = random.choice(departments)
        salary = random.choice(salaries)
        writer.writerow([i, name, department, salary])

print("CSV file 'employee_data.csv' has been generatedsuccessfully.")

CSV file 'employee_data.csv' has been generatedsuccessfully.

In [ ]:
!cat /content/employee_data.csv

ID,Name,Department,Salary
1,Anna,IT,10000
2,Nina,Finance,8000
3,John,Marketing,5000
4,George,IT,7000
5,Nina,Sales,8000
6,Emily,IT,5000
7,David,HR,8000
8,George,Marketing,8000
9,Jane,Finance,5000
10,Nina,Marketing,8000
11,Tom,HR,9000
12,Sara,Marketing,8000
13,George,Finance,8000
14,Anna,HR,8000
15,Jane,IT,4000
16,Mike,HR,5000
17,John,IT,9000
18,John,Finance,9000
19,Mike,Sales,6000
20,Mike,IT,10000
21,Jane,Sales,9000
22,Anna,IT,8000
23,Mike,Finance,3000
24,Nina,Marketing,5000
25,Tom,Sales,4000
26,Jane,Sales,8000
27,Mike,Sales,5000
28,Mike,Marketing,10000
29,Sara,Finance,10000
30,David,Marketing,5000

In [ ]:
!ls /content/ -a

.  ..  .config	csv_data  employee_data.csv  json_data	sample_data

In [ ]:
!mkdir /content/empdata/

In [ ]:
!mv /content/employee_data.csv /content/empdata/

In [ ]:
!cat /content/empdata/employee_data.csv

ID,Name,Department,Salary
1,Anna,IT,10000
2,Nina,Finance,8000
3,John,Marketing,5000
4,George,IT,7000
5,Nina,Sales,8000
6,Emily,IT,5000
7,David,HR,8000
8,George,Marketing,8000
9,Jane,Finance,5000
10,Nina,Marketing,8000
11,Tom,HR,9000
12,Sara,Marketing,8000
13,George,Finance,8000
14,Anna,HR,8000
15,Jane,IT,4000
16,Mike,HR,5000
17,John,IT,9000
18,John,Finance,9000
19,Mike,Sales,6000
20,Mike,IT,10000
21,Jane,Sales,9000
22,Anna,IT,8000
23,Mike,Finance,3000
24,Nina,Marketing,5000
25,Tom,Sales,4000
26,Jane,Sales,8000
27,Mike,Sales,5000
28,Mike,Marketing,10000
29,Sara,Finance,10000
30,David,Marketing,5000

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema=StructType()\
        .add("EmpID", IntegerType())\
        .add("Name", StringType())\
        .add("Department", StringType())\
        .add("Salary", IntegerType())
print(schema)

StructType([StructField('EmpID', IntegerType(), True), StructField('Name', StringType(), True), StructField('Department', StringType(), True), StructField('Salary', IntegerType(), True)])

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkStreaming").getOrCreate()
stream_df=spark.readStream \
    .option("sep", ",") \
    .schema(schema) \
    .csv("/content/empdata/")

In [ ]:
from pyspark.sql.functions import upper
transformed_df = stream_df.withColumn("NameUPPER", upper("Name"))

In [ ]:
query =transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [ ]:
query.stop()

In [ ]:
!ls /content/empdata/

employee_data.csv

In [ ]:
%%bash
cat << EOF >/content/empdata/employee_data2.csv
1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000
EOF

In [ ]:
!cat /content/empdata/employee_data2.csv

1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000

In [ ]:
%%bash
cat << EOF >/content/empdata/employee_data3.csv
11,John,IT,7000
12,Jane,HR,4000
13,Mike,Finance,5000
14,Sara,Sales,6000
15,David,Marketing,7000
16,Emily,Sales,8000
17,George,Finance,3000
18,Nina,IT,6000
19,Tom,Sales,4000
20,Anna,HR,5000
EOF

In [ ]:
!cat /content/empdata/employee_data3.csv

11,John,IT,7000
12,Jane,HR,4000
13,Mike,Finance,5000
14,Sara,Sales,6000
15,David,Marketing,7000
16,Emily,Sales,8000
17,George,Finance,3000
18,Nina,IT,6000
19,Tom,Sales,4000
20,Anna,HR,5000

In [ ]:
%%bash
cat << EOF >/content/empdata/employee_data4.csv
21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000
EOF

In [ ]:
!cat /content/empdata/employee_data4.csv

21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000

In [ ]:
import pandas as pd

# Load CSV
df = pd.read_csv('/content/empdata/employee_data4.csv', header=None)
df.columns = ['EmpID', 'Name', 'Department', 'Salary']

# Convert to JSON and display
json_output = df.to_json(orient='records', lines=True)
print(json_output)

{"EmpID":21,"Name":"John","Department":"Finance","Salary":7000}
{"EmpID":22,"Name":"Jane","Department":"Marketing","Salary":6000}
{"EmpID":23,"Name":"Mike","Department":"HR","Salary":8000}
{"EmpID":24,"Name":"Sara","Department":"Sales","Salary":3000}
{"EmpID":25,"Name":"David","Department":"IT","Salary":6000}
{"EmpID":26,"Name":"Emily","Department":"Finance","Salary":5000}
{"EmpID":27,"Name":"George","Department":"Marketing","Salary":4000}
{"EmpID":28,"Name":"Nina","Department":"HR","Salary":7000}
{"EmpID":29,"Name":"Tom","Department":"Finance","Salary":5000}
{"EmpID":30,"Name":"Anna","Department":"IT","Salary":8000}

In [ ]:
import pandas as pd

# Load CSV
df = pd.read_csv('/content/empdata/employee_data2.csv', header=None)
df.columns = ['EmpID', 'Name', 'Department', 'Salary']

# Convert to JSON and display
json_output = df.to_json(orient='records', lines=True)
print(json_output)

{"EmpID":1,"Name":"John","Department":"Sales","Salary":3000}
{"EmpID":2,"Name":"Jane","Department":"IT","Salary":4000}
{"EmpID":3,"Name":"Mike","Department":"Sales","Salary":5000}
{"EmpID":4,"Name":"Sara","Department":"Finance","Salary":6000}
{"EmpID":5,"Name":"David","Department":"HR","Salary":7000}
{"EmpID":6,"Name":"Emily","Department":"Marketing","Salary":6000}
{"EmpID":7,"Name":"George","Department":"HR","Salary":4000}
{"EmpID":8,"Name":"Nina","Department":"Sales","Salary":5000}
{"EmpID":9,"Name":"Tom","Department":"IT","Salary":8000}
{"EmpID":10,"Name":"Anna","Department":"Marketing","Salary":3000}

In [ ]:
import pandas as pd

# Load CSV
df = pd.read_csv('/content/empdata/employee_data3.csv', header=None)
df.columns = ['EmpID', 'Name', 'Department', 'Salary']

# Convert to JSON and display
json_output = df.to_json(orient='records', lines=True)
print(json_output)

{"EmpID":11,"Name":"John","Department":"IT","Salary":7000}
{"EmpID":12,"Name":"Jane","Department":"HR","Salary":4000}
{"EmpID":13,"Name":"Mike","Department":"Finance","Salary":5000}
{"EmpID":14,"Name":"Sara","Department":"Sales","Salary":6000}
{"EmpID":15,"Name":"David","Department":"Marketing","Salary":7000}
{"EmpID":16,"Name":"Emily","Department":"Sales","Salary":8000}
{"EmpID":17,"Name":"George","Department":"Finance","Salary":3000}
{"EmpID":18,"Name":"Nina","Department":"IT","Salary":6000}
{"EmpID":19,"Name":"Tom","Department":"Sales","Salary":4000}
{"EmpID":20,"Name":"Anna","Department":"HR","Salary":5000}

In [ ]:
query = transformed_df.writeStream \
    .outputMode("append") \
    .format("json") \
    .option("path", "/tmp/stream_json_output") \
    .option("checkpointLocation", "/tmp/stream_checkpoint") \
    .start()

In [ ]:
df = spark.read.json("/tmp/stream_json_output")
df.show()

+----------+-----+------+---------+------+
|Department|EmpID|  Name|NameUPPER|Salary|
+----------+-----+------+---------+------+
|Department| NULL|  Name|     NAME|  NULL|
|        IT|    1|  Anna|     ANNA| 10000|
|   Finance|    2|  Nina|     NINA|  8000|
| Marketing|    3|  John|     JOHN|  5000|
|        IT|    4|George|   GEORGE|  7000|
|     Sales|    5|  Nina|     NINA|  8000|
|        IT|    6| Emily|    EMILY|  5000|
|        HR|    7| David|    DAVID|  8000|
| Marketing|    8|George|   GEORGE|  8000|
|   Finance|    9|  Jane|     JANE|  5000|
| Marketing|   10|  Nina|     NINA|  8000|
|        HR|   11|   Tom|      TOM|  9000|
| Marketing|   12|  Sara|     SARA|  8000|
|   Finance|   13|George|   GEORGE|  8000|
|        HR|   14|  Anna|     ANNA|  8000|
|        IT|   15|  Jane|     JANE|  4000|
|        HR|   16|  Mike|     MIKE|  5000|
|        IT|   17|  John|     JOHN|  9000|
|   Finance|   18|  John|     JOHN|  9000|
|     Sales|   19|  Mike|     MIKE|  6000|
+----------+-----+------+---------+------+
only showing top 20 rows

In [ ]:
import json

batch = []
file_count = 1
print(" Type something (type 'exit' to quit). Every 10 inputs will be saved to a new JSON file.")

while True:
    user_input = input(">> ")

    if user_input.lower() == "exit":
        if batch:
            # Save remaining inputs before exiting
            filename = f"output_{file_count}.json"
            with open(filename, "w") as f:
                json.dump(batch, f, indent=2)
            print(f" Saved remaining inputs to {filename}")
        print(" Exiting.")
        break

    batch.append({"input": user_input})

    if len(batch) == 10:
        filename = f"output_{file_count}.json"
        with open(filename, "w") as f:
            json.dump(batch, f, indent=2)
        print(f" Saved 10 inputs to {filename}")
        batch = []
        file_count+=1

 Type something (type 'exit' to quit). Every 10 inputs will be saved to a new JSON file.
>> pjgpoakpv
>> sklngow\isjg
>> kxbmpos
>> lkxb;s
>> lksmb;l\
>> qkjvwp]salknv
>> nsklnbvsl;
>> lksanlk
>> kjsnvlksm
>> jsnvjsn
 Saved 10 inputs to output_1.json

KeyboardInterrupt: Interrupted by user

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import json
import os

# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Create a folder in your Drive to save JSON files
output_folder = "/content/drive/MyDrive/json_inputs/"
os.makedirs(output_folder, exist_ok=True)

# Step 3: Infinite input loop
batch = []
file_count = 1
print(" Type something (type 'exit' to quit). Every 10 inputs will be saved to a new JSON file in Google Drive.")

while True:
    user_input = input(">> ")

    if user_input.lower() == "exit":
        if batch:
            filename = os.path.join(output_folder, f"output_{file_count}.json")
            with open(filename, "w") as f:
                json.dump(batch, f, indent=2)
            print(f" Saved remaining inputs to {filename}")
        print(" Exiting.")
        break

    batch.append({"input": user_input})

    if len(batch) == 10:
        filename = os.path.join(output_folder, f"output_{file_count}.json")
        with open(filename, "w") as f:
            json.dump(batch, f, indent=2)
        print(f" Saved 10 inputs to {filename}")
        batch = []
        jkfile_count+=1

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
 Type something (type 'exit' to quit). Every 10 inputs will be saved to a new JSON file in Google Drive.

KeyboardInterrupt: Interrupted by user

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

from faker import Faker
import random
import uuid
import os
import time
from datetime import datetime

# Initialize Faker
fake = Faker()

# Output directory in Google Drive
output_dir = "/content/drive/MyDrive/employee_batches"
os.makedirs(output_dir, exist_ok=True)

# Infinite loop to keep generating files
while True:
    # Generate unique filename using current time
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    file_name = f"employee_data_{timestamp}.csv"
    file_path = os.path.join(output_dir, file_name)

    # Write 10 employee records to this file
    with open(file_path, "w") as f:
        f.write("EmpID,Name,Department,Salary,UniqueID\n")  # Header
        for _ in range(10):
            emp_id = random.randint(1000, 9999)
            name = fake.name()
            department = fake.job()
            salary = random.randint(3000, 12000)


            record = f"{emp_id},{name},{department},{salary}\n"
            f.write(record)

    print(f" File saved: {file_name}")

    time.sleep(10)  # Wait 30 seconds before generatingthenextfile

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
 File saved: employee_data_20250730_160656.csv
 File saved: employee_data_20250730_160706.csv
 File saved: employee_data_20250730_160716.csv
 File saved: employee_data_20250730_160726.csv
 File saved: employee_data_20250730_160736.csv
 File saved: employee_data_20250730_160746.csv
 File saved: employee_data_20250730_160756.csv
 File saved: employee_data_20250730_160806.csv
 File saved: employee_data_20250730_160816.csv
 File saved: employee_data_20250730_160826.csv
 File saved: employee_data_20250730_160836.csv
 File saved: employee_data_20250730_160846.csv
 File saved: employee_data_20250730_160856.csv
 File saved: employee_data_20250730_160906.csv
 File saved: employee_data_20250730_160916.csv
 File saved: employee_data_20250730_160926.csv
 File saved: employee_data_20250730_160936.csv
 File saved: employee_data_20250730_160946.csv
 File saved: employee_data_20250730_160956.csv
 File saved: employee_data_20250730_161006.csv
 File saved: employee_data_20250730_161016.csv
 File saved: employee_data_20250730_161026.csv
 File saved: employee_data_20250730_161036.csv
 File saved: employee_data_20250730_161046.csv
 File saved: employee_data_20250730_161056.csv
 File saved: employee_data_20250730_161106.csv
 File saved: employee_data_20250730_161116.csv
 File saved: employee_data_20250730_161126.csv
 File saved: employee_data_20250730_161136.csv
 File saved: employee_data_20250730_161146.csv
 File saved: employee_data_20250730_161156.csv
 File saved: employee_data_20250730_161206.csv
 File saved: employee_data_20250730_161216.csv
 File saved: employee_data_20250730_161226.csv
 File saved: employee_data_20250730_161236.csv
 File saved: employee_data_20250730_161246.csv
 File saved: employee_data_20250730_161256.csv
 File saved: employee_data_20250730_161306.csv
 File saved: employee_data_20250730_161316.csv
 File saved: employee_data_20250730_161326.csv
 File saved: employee_data_20250730_161336.csv
 File saved: employee_data_20250730_161346.csv
 File saved: employee_data_20250730_161357.csv
 File saved: employee_data_20250730_161407.csv
 File saved: employee_data_20250730_161417.csv
 File saved: employee_data_20250730_161427.csv
 File saved: employee_data_20250730_161437.csv
 File saved: employee_data_20250730_161447.csv
 File saved: employee_data_20250730_161457.csv
 File saved: employee_data_20250730_161507.csv
 File saved: employee_data_20250730_161517.csv
 File saved: employee_data_20250730_161527.csv
 File saved: employee_data_20250730_161537.csv
 File saved: employee_data_20250730_161547.csv
 File saved: employee_data_20250730_161557.csv
 File saved: employee_data_20250730_161607.csv
 File saved: employee_data_20250730_161617.csv
 File saved: employee_data_20250730_161627.csv
 File saved: employee_data_20250730_161637.csv
 File saved: employee_data_20250730_161647.csv
 File saved: employee_data_20250730_161657.csv
 File saved: employee_data_20250730_161707.csv
 File saved: employee_data_20250730_161717.csv
 File saved: employee_data_20250730_161727.csv
 File saved: employee_data_20250730_161737.csv
 File saved: employee_data_20250730_161747.csv
 File saved: employee_data_20250730_161757.csv
 File saved: employee_data_20250730_161807.csv
 File saved: employee_data_20250730_161817.csv
 File saved: employee_data_20250730_161827.csv
 File saved: employee_data_20250730_161837.csv
 File saved: employee_data_20250730_161847.csv
 File saved: employee_data_20250730_161857.csv
 File saved: employee_data_20250730_161907.csv
 File saved: employee_data_20250730_161917.csv
 File saved: employee_data_20250730_161927.csv
 File saved: employee_data_20250730_161937.csv
 File saved: employee_data_20250730_161947.csv
 File saved: employee_data_20250730_161957.csv
 File saved: employee_data_20250730_162007.csv
 File saved: employee_data_20250730_162017.csv
 File saved: employee_data_20250730_162027.csv
 File saved: employee_data_20250730_162037.csv
 File saved: employee_data_20250730_162047.csv
 File saved: employee_data_20250730_162057.csv
 File saved: employee_data_20250730_162107.csv
 File saved: employee_data_20250730_162117.csv
 File saved: employee_data_20250730_162127.csv
 File saved: employee_data_20250730_162137.csv
 File saved: employee_data_20250730_162147.csv
 File saved: employee_data_20250730_162157.csv
 File saved: employee_data_20250730_162207.csv
 File saved: employee_data_20250730_162217.csv
 File saved: employee_data_20250730_162227.csv
 File saved: employee_data_20250730_162237.csv
 File saved: employee_data_20250730_162247.csv
 File saved: employee_data_20250730_162257.csv
 File saved: employee_data_20250730_162307.csv
 File saved: employee_data_20250730_162317.csv
 File saved: employee_data_20250730_162327.csv
 File saved: employee_data_20250730_162337.csv
 File saved: employee_data_20250730_162347.csv
 File saved: employee_data_20250730_162357.csv
 File saved: employee_data_20250730_162407.csv
 File saved: employee_data_20250730_162417.csv
 File saved: employee_data_20250730_162427.csv
 File saved: employee_data_20250730_162437.csv
 File saved: employee_data_20250730_162447.csv
 File saved: employee_data_20250730_162457.csv
 File saved: employee_data_20250730_162507.csv
 File saved: employee_data_20250730_162517.csv
 File saved: employee_data_20250730_162527.csv
 File saved: employee_data_20250730_162537.csv
 File saved: employee_data_20250730_162547.csv
 File saved: employee_data_20250730_162557.csv
 File saved: employee_data_20250730_162607.csv
 File saved: employee_data_20250730_162617.csv
 File saved: employee_data_20250730_162627.csv
 File saved: employee_data_20250730_162637.csv
 File saved: employee_data_20250730_162647.csv
 File saved: employee_data_20250730_162657.csv
 File saved: employee_data_20250730_162707.csv
 File saved: employee_data_20250730_162717.csv
 File saved: employee_data_20250730_162727.csv
 File saved: employee_data_20250730_162737.csv
 File saved: employee_data_20250730_162747.csv
 File saved: employee_data_20250730_162757.csv
 File saved: employee_data_20250730_162807.csv
 File saved: employee_data_20250730_162817.csv
 File saved: employee_data_20250730_162827.csv
 File saved: employee_data_20250730_162837.csv
 File saved: employee_data_20250730_162847.csv
 File saved: employee_data_20250730_162857.csv
 File saved: employee_data_20250730_162907.csv
 File saved: employee_data_20250730_162917.csv
 File saved: employee_data_20250730_162927.csv
 File saved: employee_data_20250730_162937.csv
 File saved: employee_data_20250730_162947.csv
 File saved: employee_data_20250730_162957.csv
 File saved: employee_data_20250730_163007.csv
 File saved: employee_data_20250730_163017.csv
 File saved: employee_data_20250730_163027.csv
 File saved: employee_data_20250730_163037.csv
 File saved: employee_data_20250730_163047.csv
 File saved: employee_data_20250730_163057.csv
 File saved: employee_data_20250730_163107.csv
 File saved: employee_data_20250730_163117.csv
 File saved: employee_data_20250730_163127.csv
 File saved: employee_data_20250730_163137.csv
 File saved: employee_data_20250730_163147.csv
 File saved: employee_data_20250730_163157.csv
 File saved: employee_data_20250730_163207.csv
 File saved: employee_data_20250730_163217.csv
 File saved: employee_data_20250730_163227.csv
 File saved: employee_data_20250730_163237.csv
 File saved: employee_data_20250730_163247.csv
 File saved: employee_data_20250730_163257.csv
 File saved: employee_data_20250730_163307.csv
 File saved: employee_data_20250730_163317.csv
 File saved: employee_data_20250730_163327.csv
 File saved: employee_data_20250730_163337.csv
 File saved: employee_data_20250730_163347.csv
 File saved: employee_data_20250730_163357.csv
 File saved: employee_data_20250730_163407.csv
 File saved: employee_data_20250730_163417.csv
 File saved: employee_data_20250730_163427.csv
 File saved: employee_data_20250730_163437.csv
 File saved: employee_data_20250730_163447.csv
 File saved: employee_data_20250730_163457.csv
 File saved: employee_data_20250730_163507.csv
 File saved: employee_data_20250730_163517.csv
 File saved: employee_data_20250730_163527.csv
 File saved: employee_data_20250730_163537.csv
 File saved: employee_data_20250730_163547.csv
 File saved: employee_data_20250730_163558.csv
 File saved: employee_data_20250730_163608.csv
 File saved: employee_data_20250730_163618.csv
 File saved: employee_data_20250730_163628.csv
 File saved: employee_data_20250730_163638.csv
 File saved: employee_data_20250730_163648.csv
 File saved: employee_data_20250730_163658.csv
 File saved: employee_data_20250730_163708.csv
 File saved: employee_data_20250730_163718.csv
 File saved: employee_data_20250730_163728.csv
 File saved: employee_data_20250730_163738.csv
 File saved: employee_data_20250730_163748.csv
 File saved: employee_data_20250730_163758.csv
 File saved: employee_data_20250730_163808.csv
 File saved: employee_data_20250730_163818.csv
 File saved: employee_data_20250730_163828.csv
 File saved: employee_data_20250730_163838.csv
 File saved: employee_data_20250730_163848.csv
 File saved: employee_data_20250730_163858.csv
 File saved: employee_data_20250730_163908.csv
 File saved: employee_data_20250730_163918.csv
 File saved: employee_data_20250730_163928.csv
 File saved: employee_data_20250730_163938.csv
 File saved: employee_data_20250730_163948.csv
 File saved: employee_data_20250730_163958.csv
 File saved: employee_data_20250730_164008.csv
 File saved: employee_data_20250730_164018.csv
 File saved: employee_data_20250730_164028.csv
 File saved: employee_data_20250730_164038.csv
 File saved: employee_data_20250730_164048.csv
 File saved: employee_data_20250730_164058.csv
 File saved: employee_data_20250730_164108.csv
 File saved: employee_data_20250730_164118.csv
 File saved: employee_data_20250730_164128.csv
 File saved: employee_data_20250730_164138.csv
 File saved: employee_data_20250730_164148.csv
 File saved: employee_data_20250730_164158.csv
 File saved: employee_data_20250730_164208.csv
 File saved: employee_data_20250730_164218.csv
 File saved: employee_data_20250730_164228.csv
 File saved: employee_data_20250730_164238.csv
 File saved: employee_data_20250730_164248.csv
 File saved: employee_data_20250730_164258.csv
 File saved: employee_data_20250730_164308.csv
 File saved: employee_data_20250730_164318.csv
 File saved: employee_data_20250730_164328.csv
 File saved: employee_data_20250730_164338.csv
 File saved: employee_data_20250730_164348.csv
 File saved: employee_data_20250730_164358.csv
 File saved: employee_data_20250730_164408.csv
 File saved: employee_data_20250730_164418.csv
 File saved: employee_data_20250730_164428.csv
 File saved: employee_data_20250730_164438.csv
 File saved: employee_data_20250730_164448.csv
 File saved: employee_data_20250730_164458.csv
 File saved: employee_data_20250730_164508.csv
 File saved: employee_data_20250730_164518.csv
 File saved: employee_data_20250730_164528.csv
 File saved: employee_data_20250730_164538.csv
 File saved: employee_data_20250730_164548.csv
 File saved: employee_data_20250730_164558.csv
 File saved: employee_data_20250730_164608.csv
 File saved: employee_data_20250730_164618.csv
 File saved: employee_data_20250730_164628.csv
 File saved: employee_data_20250730_164638.csv
 File saved: employee_data_20250730_164648.csv
 File saved: employee_data_20250730_164658.csv
 File saved: employee_data_20250730_164708.csv
 File saved: employee_data_20250730_164718.csv
 File saved: employee_data_20250730_164728.csv
 File saved: employee_data_20250730_164738.csv
 File saved: employee_data_20250730_164748.csv
 File saved: employee_data_20250730_164758.csv
 File saved: employee_data_20250730_164808.csv
 File saved: employee_data_20250730_164818.csv
 File saved: employee_data_20250730_164828.csv
 File saved: employee_data_20250730_164838.csv
 File saved: employee_data_20250730_164848.csv
 File saved: employee_data_20250730_164858.csv
 File saved: employee_data_20250730_164908.csv
 File saved: employee_data_20250730_164918.csv
 File saved: employee_data_20250730_164928.csv
 File saved: employee_data_20250730_164938.csv
 File saved: employee_data_20250730_164948.csv
 File saved: employee_data_20250730_164958.csv
 File saved: employee_data_20250730_165008.csv
 File saved: employee_data_20250730_165018.csv
 File saved: employee_data_20250730_165028.csv
 File saved: employee_data_20250730_165038.csv
 File saved: employee_data_20250730_165048.csv
 File saved: employee_data_20250730_165058.csv
 File saved: employee_data_20250730_165108.csv
 File saved: employee_data_20250730_165118.csv
 File saved: employee_data_20250730_165128.csv
 File saved: employee_data_20250730_165138.csv
 File saved: employee_data_20250730_165148.csv
 File saved: employee_data_20250730_165158.csv
 File saved: employee_data_20250730_165208.csv
 File saved: employee_data_20250730_165218.csv
 File saved: employee_data_20250730_165228.csv
 File saved: employee_data_20250730_165238.csv
 File saved: employee_data_20250730_165248.csv
 File saved: employee_data_20250730_165258.csv
 File saved: employee_data_20250730_165308.csv
 File saved: employee_data_20250730_165318.csv
 File saved: employee_data_20250730_165328.csv
 File saved: employee_data_20250730_165338.csv
 File saved: employee_data_20250730_165348.csv
 File saved: employee_data_20250730_165358.csv
 File saved: employee_data_20250730_165408.csv
 File saved: employee_data_20250730_165418.csv
 File saved: employee_data_20250730_165428.csv
 File saved: employee_data_20250730_165438.csv
 File saved: employee_data_20250730_165448.csv
 File saved: employee_data_20250730_165458.csv
 File saved: employee_data_20250730_165508.csv
 File saved: employee_data_20250730_165518.csv
 File saved: employee_data_20250730_165528.csv
 File saved: employee_data_20250730_165538.csv
 File saved: employee_data_20250730_165548.csv
 File saved: employee_data_20250730_165558.csv
 File saved: employee_data_20250730_165608.csv
 File saved: employee_data_20250730_165618.csv
 File saved: employee_data_20250730_165628.csv
 File saved: employee_data_20250730_165638.csv
 File saved: employee_data_20250730_165648.csv
 File saved: employee_data_20250730_165658.csv
 File saved: employee_data_20250730_165709.csv
 File saved: employee_data_20250730_165719.csv
 File saved: employee_data_20250730_165729.csv
 File saved: employee_data_20250730_165739.csv
 File saved: employee_data_20250730_165749.csv
 File saved: employee_data_20250730_165759.csv
 File saved: employee_data_20250730_165809.csv
 File saved: employee_data_20250730_165819.csv
 File saved: employee_data_20250730_165829.csv
 File saved: employee_data_20250730_165839.csv
 File saved: employee_data_20250730_165849.csv
 File saved: employee_data_20250730_165859.csv
 File saved: employee_data_20250730_165909.csv
 File saved: employee_data_20250730_165919.csv
 File saved: employee_data_20250730_165929.csv
 File saved: employee_data_20250730_165939.csv
 File saved: employee_data_20250730_165949.csv
 File saved: employee_data_20250730_165959.csv
 File saved: employee_data_20250730_170009.csv
 File saved: employee_data_20250730_170019.csv
 File saved: employee_data_20250730_170029.csv
 File saved: employee_data_20250730_170039.csv
 File saved: employee_data_20250730_170049.csv
 File saved: employee_data_20250730_170059.csv
 File saved: employee_data_20250730_170109.csv
 File saved: employee_data_20250730_170119.csv
 File saved: employee_data_20250730_170129.csv
 File saved: employee_data_20250730_170139.csv
 File saved: employee_data_20250730_170149.csv
 File saved: employee_data_20250730_170159.csv
 File saved: employee_data_20250730_170209.csv
 File saved: employee_data_20250730_170219.csv
 File saved: employee_data_20250730_170229.csv
 File saved: employee_data_20250730_170239.csv
 File saved: employee_data_20250730_170249.csv
 File saved: employee_data_20250730_170259.csv
 File saved: employee_data_20250730_170309.csv
 File saved: employee_data_20250730_170319.csv
 File saved: employee_data_20250730_170329.csv
 File saved: employee_data_20250730_170339.csv
 File saved: employee_data_20250730_170349.csv
 File saved: employee_data_20250730_170359.csv
 File saved: employee_data_20250730_170409.csv
 File saved: employee_data_20250730_170419.csv
 File saved: employee_data_20250730_170429.csv
 File saved: employee_data_20250730_170439.csv
 File saved: employee_data_20250730_170449.csv
 File saved: employee_data_20250730_170459.csv
 File saved: employee_data_20250730_170509.csv
 File saved: employee_data_20250730_170519.csv
 File saved: employee_data_20250730_170529.csv
 File saved: employee_data_20250730_170539.csv
 File saved: employee_data_20250730_170549.csv
 File saved: employee_data_20250730_170559.csv
 File saved: employee_data_20250730_170609.csv
 File saved: employee_data_20250730_170619.csv
 File saved: employee_data_20250730_170629.csv
 File saved: employee_data_20250730_170639.csv
 File saved: employee_data_20250730_170649.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import os
import json

# Set the folder path where your CSVs are stored
csv_folder = "/content/drive/MyDrive/employee_batches"

# Folder to save JSON files (optional)
json_folder = "/content/drive/MyDrive/employee_jsons"
os.makedirs(json_folder, exist_ok=True)

csv_files = [f for f in os.listdir(csv_folder) if f.endswith(".csv")]

def read():
  for csv_file in csv_files:
      csv_path = os.path.join(csv_folder, csv_file)

      # Read CSV into DataFrame
      df = pd.read_csv(csv_path)

      # Convert DataFrame to list of dicts (JSON)
      json_data = df.to_dict(orient="records")

      # Save JSON to file
      json_filename = csv_file.replace(".csv", ".json")
      json_path = os.path.join(json_folder, json_filename)

      with open(json_path, "w") as json_file:
          json.dump(json_data, json_file, indent=4)

      # Print output
      print(f"\n Converted: {csv_file}  {json_filename}")
      print(" JSON Data Preview:")
      print(json.dumps(json_data,indent=4))

In [1]:
!pip install faker

Collecting faker
  Downloading faker-37.5.3-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.5.3-py3-none-any.whl (1.9 MB)
    1.9/1.9 MB 23.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.5.3

## Spark / Scala Programming Basics Day 6

In [3]:
!wget -q https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz

In [5]:
!apt-get install openjdk-8-jdk-headless -qq >/dev/null

In [6]:
!java -version

openjdk version "11.0.28" 2025-07-15
OpenJDK Runtime Environment (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1)
OpenJDK 64-Bit Server VM (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1, mixed mode, sharing)

In [7]:
!wget -q https://github.com/scala/scala/releases/download/v2.12.18/scala-2.12.18.deb

In [8]:
!dpkg -i scala-2.12.18.deb

Selecting previously unselected package scala.
(Reading database ... 126633 files and directories currently installed.)
Preparing to unpack scala-2.12.18.deb ...
Unpacking scala (2.12.18-400) ...
Setting up scala (2.12.18-400) ...
Creating system group: scala
Creating system user: scala in scala with scala daemon-user and shell /bin/false
Processing triggers for man-db (2.10.2-1) ...

In [9]:
!tar xf spark-3.4.1-bin-hadoop3.tgz

In [10]:
!ls /usr/lib/jvm/java-1.11.0-openjdk-amd64/
!ls /content/spark-3.4.1-bin-hadoop3/
!ls /content/scala-2.12.18.deb

bin  conf  docs  include  jmods  legal	lib  man  release
bin   data	jars	    LICENSE   NOTICE  R		 RELEASE  yarn
conf  examples	kubernetes  licenses  python  README.md  sbin
/content/scala-2.12.18.deb

In [11]:
# Set environment variables
import os
os.environ["JAVA_HOME"]="/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"]="/content/spark-3.4.1-bin-hadoop3"

In [12]:
!echo $JAVA_HOME

/usr/lib/jvm/java-11-openjdk-amd64

In [13]:
!echo $SPARK_HOME

/content/spark-3.4.1-bin-hadoop3

In [14]:
!pip install -q findspark

In [15]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder\
  .appName("Colab Scala Spark") \
  .getOrCreate()
spark

In [19]:
%%writefile HelloWorld.scala
object HelloWorld{
    def main(args: Array[String]): Unit={
        println("Welcome from Scala")
    }
}

Overwriting HelloWorld.scala

In [20]:
!ls

HelloWorld.scala  scala-2.12.18.deb	   spark-3.4.1-bin-hadoop3.tgz
sample_data	  spark-3.4.1-bin-hadoop3  spark-3.4.1-bin-hadoop3.tgz.1

In [23]:
!scalac HelloWorld.scala

In [25]:
!ls

'HelloWorld$.class'   sample_data	        spark-3.4.1-bin-hadoop3.tgz
 HelloWorld.class     scala-2.12.18.deb         spark-3.4.1-bin-hadoop3.tgz.1
 HelloWorld.scala     spark-3.4.1-bin-hadoop3

In [27]:
!scala HelloWorld

Welcome from Scala

In [28]:
%%writefile CompleteScalaDemo.scala
object CompleteScalaDemo{
  def main(args: Array[String]) : Unit={
  // Step1: Basic Syntax and variables
  val language: String = "Scala"
  var version: Double = 2.12
  println(s"Step 1 : Welcome to $language version $version")
}
}

Writing CompleteScalaDemo.scala

In [30]:
!scalac CompleteScalaDemo.scala

In [31]:
!scala CompleteScalaDemo

Step 1 : Welcome to Scala version 2.12

In [35]:
%%writefile LoopDemo.scala
object LoopDemo {
  def main(args: Array[String]): Unit = {
    println("Demo: While Loop")
    var i = 1
    while (i <= 5) {
      println(s"While Loop iteration: $i")
      i += 1
    }

    println("\nDemo: Do-While Loop")
    var j = 1
    do {
      println(s"Do-While Loop iteration: $j")
      j += 1
    } while (j <= 5)

    println("\nDemo: For Loop with Range")
    for (k <- 1 to 5) {
      println(s"For Loop iteration: $k")
    }

    println("\nDemo: For Loop with Guards (only even numbers)")
    for (k <- 1 to 10 if k % 2 == 0) {
      println(s"Even number: $k")
    }

    println("\nDemo: For Loop with yield (creates a collection)")
    val squares = for (k <- 1 to 5) yield k * k
    println(s"Squares from 1 to 5: ${squares.mkString(",")}")
  }
}

Writing LoopDemo.scala

In [36]:
!scalac LoopDemo.scala
!scala LoopDemo

Demo: While Loop
While Loop iteration: 1
While Loop iteration: 2
While Loop iteration: 3
While Loop iteration: 4
While Loop iteration: 5

Demo: Do-While Loop
Do-While Loop iteration: 1
Do-While Loop iteration: 2
Do-While Loop iteration: 3
Do-While Loop iteration: 4
Do-While Loop iteration: 5

Demo: For Loop with Range
For Loop iteration: 1
For Loop iteration: 2
For Loop iteration: 3
For Loop iteration: 4
For Loop iteration: 5

Demo: For Loop with Guards (only even numbers)
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10

Demo: For Loop with yield (creates a collection)
Squares from 1 to 5: 1,4,9,16,25